<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:1px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <mat-form-field class="example">
          <mat-label>Search...</mat-label>
          <span matPrefix>&nbsp;</span>
          <input type="text" matInput (keyup)="searchCatalogPages()" [(ngModel)]="searchText" autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="isAdmin()" class="nav-item">
        <a class="nav-link" routerLink="/page/add">Add page</a>
      </li>
      <li *ngIf="isAdmin()" class="nav-item">
        <a class="nav-link" routerLink="/user/add">Add user</a>
      </li>
    </ul>
  </div>
</nav>
<ag-grid-angular
  style="width: 100%; height: 700px;"
  class="ag-theme-alpine-dark"
  [rowData]="rowData"
  [columnDefs]="prepareColumns"
  [defaultColDef]="defaultColDef"
  [rowHeight]="200"
  [autoSizePadding]="true"
  rowSelection="single"
  (selectionChanged)="getDetails()"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
