.btn-favorite-blank {
  background: url("../../../assets/heart.png") no-repeat;
}

.btn-favorite-added {
  background: url("src/assets/heartblack.png") no-repeat;
}

.btn-favorite {
  margin-top: 30px;
  height: 66px;
  width: 66px;
  border-color: transparent;
}

.example {
  background: white !important;
  border-radius: 10px;
  margin-bottom: 10px;
  text-transform: none;
  padding: 0 5px;
  width: 130%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
