<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:1px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="viewDetails" class="nav-item active">
        <a class="nav-link" (click)="editProfile()">Edit Profile
        </a>
      </li>
      <li *ngIf="viewDetails && isEditModeOn && !isBlocked && isAdmin" class="nav-item" id="block-user">
        <a class="nav-link" (click)="blockProfile()">Block customer</a>
      </li>
      <li *ngIf="viewDetails && isEditModeOn && isBlocked && isAdmin" class="nav-item" id="unblock-user">
        <a class="nav-link" (click)="blockProfile()">Unblock customer</a>
      </li>
      <li *ngIf="viewDetails && isEditModeOn" class="nav-item">
        <a class="nav-link" (click)="deleteProfile()">Delete Profile</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<div class="margin-profile">
  <h2>{{title}}</h2>
  <br/>
  <br/>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group row has-danger">
      <label for="login" class="col-sm-2 col-form-label">{{translation[0][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="login" formControlName="login" required>
      </div>
      <div class="invalid-feedback" *ngIf="userForm.get('login').hasError('required')">
        Login is required!
      </div>
    </div>
    <div class="form-group row" *ngIf="viewSignUpMode">
      <label for="password" class="col-sm-2 col-form-label">Enter Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
    </div>
    <div class="form-group row" *ngIf="viewSignUpMode">
      <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="confirmPassword" [formControl]="confirmPassword" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">{{translation[1][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" formControlName="username" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">{{translation[2][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstname" formControlName="firstname" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">{{translation[3][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastname" formControlName="lastname" required>
      </div>
    </div>
    <div class="form-group row" *ngIf="isAdmin">
      <label for="firstname" class="col-sm-2 col-form-label">{{translation[5][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="status" formControlName="status" required>
      </div>
    </div>
    <div class="form-group row" *ngIf="isAdmin">
      <label for="permission" class="col-sm-2 col-form-label">{{translation[4][versionOfTranslation]}}</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="role" id="permission" required>
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!viewDetails" id="details-btn">{{buttonContent}}</button>
  </form>
</div>

